main{
    .htc-touch{
        .container{
            .row{
                .product-description{
                    .image{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .owl-carousel{
                        margin-top: 20px;
                        width: 90%;
                        .item{
                            width: 100px;
                            
                            img{
                                width: 100%;
                                
                            }
                        }
                    }
                   
                    ul.accordion
                     {

                        position: relative;
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        margin-top: 20px;
                        list-style: none;
                        background-color: transparent;
                        
                        .main-li {
                          position: relative;
                          display: block;
                          width: 100%;
                          height: auto;
                          background-color: transparent;
                          padding: 20px 0;
                          margin: 0 auto 15px auto;
                          border-bottom: 1px solid #ddd;
                          border-radius: 5px;
                          h4{
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            display: inline-block;
                            color: #222;
                          }
                          cursor: pointer;
                          .inside-ul{
                            list-style: disc !important;
                            padding: 0;
                            margin: 0;
                            cursor: default;
                              li{
                                 
                                color: #666;
                                font-weight: 400;
                                  border-style: none;
                                  cursor: auto;
                                display: block;
                                font-size: 13px;
                                line-height: 22px;
                                letter-spacing: 0.3px;
                                margin-block-start: 1em;
                                margin-block-end: 1em;
                                margin-inline-start: 0px;
                                margin-inline-end: 0px;
                                padding-inline-start: 40px;
                                padding: 0;
                                margin: 0;
                              }
                          }
                          
                          &.active {
                            h3 {
                              &:after {
                                content: "\f068";
                                font-family: FontAwesome;;
                              }
                            }
                          }
                          
                          h3 {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: auto;
                            padding: 0 0 0 0;
                            margin: 0;
                            cursor: pointer;
                            color: #000;
                            display: block;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 13px;
                         

                                a{
                                    text-decoration: none;
                                    color: #000;
                                    display: block;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    font-size: 13px;
                                    padding: 20px 15px;
                                }
                    
            
                            &:after {
                              content: "\2b";
                              font-family: FontAwesome;
                              position: absolute;
                              right: 0;
                              top: 0;
                              color: black;
                              transition: all 0.3s ease-in-out;
                              font-size: 18px;
                            }
                          }
                          
                          div.answer {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: auto;
                            margin: 20px 0;
                            padding: 0;
                            cursor: pointer;
                            
                            p {
                                font-family: 'Poppins', sans-serif;
                                font-weight: 400;
                                color: #7a7a7a;
                                font-size: 14px;
                            }
                          }
                        }
                      }
                }

            }
        }
    }
}